body{
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#root{
  margin-top: 0.8rem;
  /* background-color: bisque; */
  width: 97.6%;
  height: 100vh;
}

.App {
  text-align: center;
  color: white;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: antiquewhite; */
}

.navbar>ul{
  /* background-color: #61dafb; */
  display: flex;
}

.navbar>ul>li{
  list-style: none;
  margin: 0 2rem;
}

.navLinks{
  text-decoration: none;
  font-weight: 500;
} 

.inactive{
  color: white;
}

.active{
  color: #63b38f;
}

.yellow-button{
  color: #580A46;
  padding: 8px 24px;
  border-radius: 20px;
  background-color: #FF9D00;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
